.*
.*/
**/__pycache__/
work/
**.pyc
*.ini
*.json
*.db
*.txt
*.csv
*.ttf
*.png
html/

!requirements.txt
!tests/testdata/*.ini
!tests/test_case/test-*.ini
!tests/test_data/*.csv
!tests/test_data/*.ini
!.gitignore
