<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
</head>
<body>
  {% include "menu_bar.html" %}
  <form method="POST" action="">
    {% include "form_items/range.html" %}
    {% include "form_items/guest.html" %}
    <div class="form-item">
      <label>表示：</label>
      <label><input type="radio" name="diff" value="" {{ "checked" if diff == "" else "" }}>通常</label>
      <label><input type="radio" name="diff" value="差分" {{ "checked" if diff == "差分" else "" }}>差分</label>
    </div>
    {% include "form_items/options.html" %}
    {% include "form_items/submit.html" %}
  </form>
    {% block content %}
      {{ body|safe }}
    {% endblock %}
  <br><br><hr>
  {% include "menu_bar.html" %}
</body>
</html>
