body {
    color: palevioletred;
    background-color: #f7efe7;
}

/* テーブルカラー */
th { color: palevioletred !important; }
.data_table th { background-color: #fcd9d9 !important; }
.data_table tr:nth-child(odd) { background-color: #fff0f0 !important; }
.data_table tr:nth-child(even) { background-color: #fffafc !important; }

div.menu_bar {
    font-size: 1.2rem;
}

div.option_menu {
    border: solid #ffd6e0;
    background-color: #fff0f7;
    padding: 1% 1%;
    padding-left: 2%;
}

div.player_name {
    color: purple;
    font-weight: bold;
}

a {
    display: inline-block;
    color: #ff6699;
    text-decoration: none;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
}

a:hover {
    text-decoration: underline;
}

h1 {
    border-left: solid 1.0rem #ff6699;
    border-bottom: 1px solid #ff6699;
    padding-bottom: 0.5rem;
    padding-left: 1.0rem;
}

h1.top_menu {
    border: none;
    letter-spacing: 0.3rem;
}

h1.top_menu::before {
    content: "\1F000\1F001\1F002\1F003";
}

h2 {
    border-bottom: 1px solid #ff6699;
    display: inline-block;
}

ul, ol {
    padding: 0;
    position: relative;
    margin-right: 2.0rem;
    margin-left: 2.0rem;
    font-size: large;
}

ul li, ol li {
    border-left: solid 1.0rem #ff99cc;
    background: #fff5f8;
    margin-bottom: 0.2rem;
    line-height: 1.5;
    padding: 0.5rem;
    list-style-type: none !important;
}

/* グラフ全体の背景 */
svg.main-svg {
    background: none !important;
}

/* グラフ */
.plotly .bg { fill: #fff0f7 !important; }
.plotly .plot { fill: #fff9fb !important; }
.plotly .gtitle, .plotly .xtick text, .plotly .ytick text, .plotly .xtitle, .plotly .ytitle, .plotly .legend text { fill: #333333 !important; }
.plotly .xgrid, .plotly .ygrid { stroke: #ffd6e0 !important; }
.plotly .xzeroline, .plotly .yzeroline { stroke: #ff99cc !important; }
