### 麻雀ルール調整 ###
[mahjong]
# ルール識別子(文字列)
rule_version = 2022
# 持ち点(100点基準：25000点→250)
point = 250
# 返し点(100点基準：30000点→300)
return = 300
# ウマ(1000点基準：20000点→20)トップから順にカンマ区切り
rank_point = 20,10,-10,-20
# 飛び(あり=False/なし=True)
ignore_flying = False


### 設定 ###
[setting]
database_file = mahjong.db
guest_mark = ※
reaction_ok = ok
reaction_ng = ng

### 検索オプション ###
[search]
keyword = 終局
channel = #麻雀部

### スラッシュコマンドオプション ###
[slash] # コマンド名
commandname = /mahjong 

[alias] # サブコマンドエイリアス(カンマ区切り)
results = 成績
graph = グラフ
record = 記録,結果
ranking = ランキング

member = userlist,メンバー,リスト
add = 追加,入部届
del = 削除,退部届


### 成績管理コマンド デフォルトオプション ###
# commandword          : コマンド呼び出しキーワード(複数定義する場合は正規表現で)
# aggregation_range    : コマンド呼び出し時に集計範囲が指定されていない場合の範囲(未定義時：当日)
# unregistered_replace : 未登録プレイヤーをゲストに置き換え(未定義時：True)
# guest_skip           : 2ゲスト戦除外/サマリ用(未定義時：True)
# guest_skip2          : 2ゲスト戦除外/個人成績用(未定義時：True)
# score_comparisons    : ポイント比較モード(未定義時：False)
# game_results         : 戦績表示(未定義時：False)
# versus_matrix        : 対局対戦マトリックス表示(未定義時：False)
# count                : ランキングに出力する順位(未定義時：3)

[results] # 成績出力
commandword = 麻雀成績
aggregation_range = 今月
unregistered_replace = True
guest_skip = True
guest_skip2 = False
score_comparisons = False
game_results = False
versus_matrix = False

[graph] # グラフ出力
commandword = 麻雀グラフ
aggregation_range = 当日
unregistered_replace = True
guest_skip = True
guest_skip2 = False

[record] # 保存用データ出力
commandword = 麻雀(記録|結果)
aggregation_range = 全部
unregistered_replace = True
guest_skip = True

[ranking] # ランキング出力
commandword = 麻雀ランキング
aggregation_range = 全部
unregistered_replace = True
guest_skip = True
### ランキング専用オプション
# 表示順位(未定義時：3)
ranked = 3
# ランキング規定ゲーム数(未定義時：0.05)
## 集計対象ゲーム数 * stipulated_rate + 2
stipulated_rate = 0.05

### メンバー管理 ###
[member]
# メンバー登録ファイル
filename = member.ini
# 登録メンバー上限
registration_limit = 255
# 文字数上限
character_limit = 8
# 別名登録上限
alias_limit = 16
# 未登録プレイヤーを置き換える名前
guest_name = ゲスト１


### 装飾オプション ###
# display : 表示/非表示オプション
# badge   : 表示文字列

[degree] # プレイしたゲーム数に対して表示される称号
display = True
# 表示文字と段階（カンマ区切りで badge と counter の数は合わせること）
badge = ,:hatching_chick:,:penguin:,:monkey_face:,:skull:
counter = 0,30,60,120,240

[status] # 勝率に対して付く調子バッジ
display = True
# 休み、絶不調、不調、普通、好調、絶好調の順に6段階
badge = :status_oyasumi:,:status_zeffutyou:,:status_futyou:,:status_futuu:,:status_koutyou:,:status_zekkoutyou:
# 刻み幅（50%を普通としてステータスが変動する幅）
step = 5.0


### カスタムメッセージ ###
[invalid_score] # 持ち点合計と配給原点合計に差分がある場合
# {rpoint_diff} → 得点差分の絶対値に置き換えられる
# キーはセクション内でユニークであれば任意の名前でよい
# 内容は投稿者にメンションされる
msg01 = {rpoint_diff}点合わないよ？
msg02 = あれ？{rpoint_diff}点間違ってない？
msg03 = {rpoint_diff}点…あって…ないです……。
