<!DOCTYPE html>
<html lang="ja">
<head>
  {% include "ui_parts/meta.html" %}
</head>
<body>
  <div class="header_menu">{% include "ui_parts/menu_bar.html" %}</div>
  <div class="option_menu">
    <form method="POST" action="">
      {% include "form_items/range.html" %}
      {% include "form_items/guest.html" %}
      <div class="form_item">
        <label>ゲーム結果：</label>
        <label><input type="radio" name="result" value="" {{ "checked" if result == "" else "" }}>非表示</label>
        <label><input type="radio" name="result" value="戦績" {{ "checked" if result == "戦績" else "" }}>簡易表示</label>
        <label><input type="radio" name="result" value="戦績 詳細" {{ "checked" if result == "戦績 詳細" else "" }}>詳細表示</label>
      </div>
      <div class="form_item">
        <label>プレイヤー：</label>
        <select name="player" required="required">
          <option value="">-- 選択して下さい --</option>
          {%- for item in players %}
          <option value="{{ item }}" {{ "selected" if player == item else "" }}>{{ item }}</option>
          {%- endfor %}
        </select>
      </div>
      {% include "form_items/options.html" %}
      {% include "form_items/submit.html" %}
    </form>
  </div>
  {% block content %}
    {{ body|safe }}
  {% endblock %}
  <div class="footer_menu">{% include "ui_parts/menu_bar.html" %}</div>
</body>
</html>
