<!DOCTYPE html>
<html lang="ja">
<head>
  {% include "ui_parts/meta.html" %}
</head>
<body>
  {% include "ui_parts/menu_bar.html" %}
  <hr>
  <div class="option_menu">
    <form method="POST" action="">
      <div class="form-item">
      {% include "form_items/range.html" %}
      {% include "form_items/guest.html" %}
      <div class="form-item">
        <label>表示：</label>
        <label><input type="radio" name="display" value="" {{ "checked" if display == "" else "" }}>ポイント推移</label>
        <label><input type="radio" name="display" value="順位" {{ "checked" if display == "順位" else "" }}>順位推移</label>
      </div>
      <div class="form-item">
        <label>集約：</label>
        <label><input type="radio" name="collect" value="" {{ "checked" if collect == "" else "" }}>なし</label>
        <label><input type="radio" name="collect" value="日次" {{ "checked" if collect == "日次" else "" }}>日次</label>
        <label><input type="radio" name="collect" value="月次" {{ "checked" if collect == "月次" else "" }}>月次</label>
        <label><input type="radio" name="collect" value="年次" {{ "checked" if collect == "年次" else "" }}>年次</label>
        <label><input type="radio" name="collect" value="全体" {{ "checked" if collect == "全体" else "" }}>全体</label>
      </div>
      {% include "form_items/options.html" %}
      {% include "form_items/submit.html" %}
    </form>
  </div>
  {% block content %}
    {{ body|safe }}
  {% endblock %}
  <br><hr>
  {% include "ui_parts/menu_bar.html" %}
</body>
</html>
