<!DOCTYPE html>
<html lang="ja">
<head>
  {% include "ui_parts/meta.html" %}
</head>
<body>
  <div class="header_menu">{% include "ui_parts/menu_bar.html" %}</div>
  <div class="option_menu">
    <form method="POST" action="">
      {% include "form_items/range.html" %}
      {% include "form_items/guest.html" %}
      <div class="form_item">
        <label>表示：</label>
        <label><input type="radio" name="display" value="" {{ "checked" if display == "" else "" }}>通常</label>
        <label><input type="radio" name="display" value="レート" {{ "checked" if display == "レート" else "" }}>レーティング</label>
      </div>
      {% include "form_items/options.html" %}
      {% include "form_items/submit.html" %}
    </form>
  </div>
  {% block content %}
    {{ body|safe }}
  {% endblock %}
  <div class="footer_menu">{% include "ui_parts/menu_bar.html" %}</div>
</body>
</html>
