### 麻雀ルール調整 ###
[mahjong]
# ルール識別子(文字列)
rule_version = 2022
# 持ち点(100点基準：25000点→250)
point = 250
# 返し点(100点基準：30000点→300)
return = 300
# ウマ(1000点基準：20000点→20)トップから順にカンマ区切り
rank_point = 20,10,-10,-20
# 飛び(あり=False/なし=True)
ignore_flying = False
# 同点のときの順位点の決定方法(席順=False/山分け=True)
draw_split = False
# メモ機能で登録されたワードのうち、個別にカウントするもの(カンマ区切り)
regulations_type2 = ヤキトリ,チョンボ


### 設定 ###
[setting]
# スラッシュコマンド名(先頭のスラッシュも含める)
slash_commandname = /mahjong
guest_mark = ※
# 素点合計チェックで付けるリアクション
reaction_ok = ok
reaction_ng = ng
# ゲーム結果にメモを残す場合に使うキーワード
remarks_word = 麻雀成績メモ
# ゲーム結果詳細の件数閾値(超過時はフォーマット変換される)
threshold = 20
# 変換時のフォーマット(csv/txt/text)
format = csv
# グラフスタイル(https://matplotlib.org/stable/gallery/style_sheets/style_sheets_reference.html)
graph_style = dark_background

### DATABASE関連オプション ###
[database]
# 成績管理データベースファイル
database_file = mahjong.db
# 自動バックアップ保存先(空欄時はバックアップしない)
backup_dir =
# INSERT/UPDATE/DELETEを発行できるチャンネルの制限(チャンネルIDで指定、カンマ区切り、空欄は制限なし)
channel_limitations =
# 突合処理呼び出しキーワード
commandword = 麻雀成績チェック

### 検索オプション ###
[search]
keyword = 終局
channel = #麻雀部
# 検索開始日(未指定時/日付フォーマットエラー時はNone -> 検索可能範囲のすべて)
after = 2024-01-01

[comment]
# 固定検索ワード(リーグ戦専用化)
#search_word = 最強戦
# デフォルトグループ化文字数(未指定時の初期値)
#group_length = 8

[alias] # サブコマンドエイリアス(カンマ区切り)
results = 成績
graph = グラフ
ranking = ランキング
report = レポート
check = チェック
download = dbget,ダウンロード

member = userlist,メンバー,リスト
add = 追加,入部届
del = 削除,退部届


### 成績管理コマンド デフォルトオプション ###
# commandword          : コマンド呼び出しキーワード
# aggregation_range    : コマンド呼び出し時に集計範囲が指定されていない場合の範囲(未定義時：当日)
# unregistered_replace : 未登録プレイヤーをゲストに置き換え(未定義時：True)
# guest_skip           : 2ゲスト戦除外/サマリ用(未定義時：True)
# guest_skip2          : 2ゲスト戦除外/個人成績用(未定義時：True)
# score_comparisons    : ポイント比較モード(未定義時：False)
# game_results         : 戦績表示(未定義時：False)
# versus_matrix        : 対局対戦マトリックス表示(未定義時：False)
# ranked               : ランキングに出力する順位(未定義時：3)

[results] # 成績出力
commandword = 麻雀成績
aggregation_range = 今月
unregistered_replace = True
guest_skip = True
guest_skip2 = False
score_comparisons = False
game_results = False
versus_matrix = False

[graph] # グラフ出力
commandword = 麻雀グラフ
aggregation_range = 当日
unregistered_replace = True
guest_skip = True
guest_skip2 = False

[ranking] # ランキング出力
commandword = 麻雀ランキング
aggregation_range = 全部
unregistered_replace = True
guest_skip = True
### ランキング専用オプション
# 表示順位(未定義時：3)
ranked = 3
# ランキング規定ゲーム数(未定義時：0.05)
## 集計対象ゲーム数 * stipulated_rate + 2
stipulated_rate = 0.05

[report] # レポート出力
commandword = 麻雀成績レポート
aggregation_range = 全部
unregistered_replace = True
guest_skip = True


### メンバー管理 ###
[member]
# memberを呼び出すチャンネル内キーワード
commandword = メンバー一覧
# 登録メンバー数上限
registration_limit = 255
# メンバー名文字数上限
character_limit = 8
# メンバー別名登録上限
alias_limit = 16
# 未登録メンバーを置き換える名前
guest_name = ゲスト１

[team]
# team_listを呼び出すチャンネル内キーワード
commandword = チーム一覧
# 登録チーム数上限
registration_limit = 32
# チーム名文字数上限
character_limit = 16
# 構成メンバー上限
member_limit = 8


### 装飾オプション ###
# display : 表示/非表示オプション
# badge   : 表示文字列

[degree] # プレイしたゲーム数に対して表示される称号
display = True
# 表示文字と段階（カンマ区切りで badge と counter の数は合わせること）
badge = ,:hatching_chick:,:penguin:,:monkey_face:,:skull:
counter = 0,30,60,120,240

[status] # 勝率に対して付く調子バッジ
display = True
# 休み、絶不調、不調、普通、好調、絶好調の順に6段階
badge = :status_oyasumi:,:status_zeffutyou:,:status_futyou:,:status_futuu:,:status_koutyou:,:status_zekkoutyou:
# 刻み幅（50%を普通としてステータスが変動する幅）
step = 5.0


### カスタムメッセージ ###
[custom_message]
# 使用シーン別のプレフィックスが付いたキーに表示メッセージを定義
# プレフィックス以降の文字列は任意
# 定義されたメッセージをランダムに表示する

## invalid_argument オプション解析に失敗した場合
invalid_argument_01 = えっ？
invalid_argument_02 = すみません、よくわかりません。
invalid_argument_03 = 困らせないでください。

## invalid_score 持ち点合計と配給原点合計に差分がある場合
# {rpoint_diff} → 得点差分の絶対値に置き換えられる
invalid_score_01 = {rpoint_diff}点合わないよ？
invalid_score_02 = あれ？{rpoint_diff}点間違ってない？
invalid_score_03 = {rpoint_diff}点…あって…ないです……。

## no_hits 検索指定範囲にゲーム結果が見つからない場合
# {start} / {end} 検索開始、終了指定範囲
# {keyword} 成績記録のキーワード
no_hits_01 = {start} から {end} までに {keyword} はありません。
no_hits_02 = 見つかりません。

## restricted_channel "channel_limitations"で許可されていないチャンネルで登録キーワードを拾った際の警告文
restricted_channel_01 = このチャンネルの投稿はデータベースに記録されません。
restricted_channel_02 = 誤爆してませんか？
