[Unit]
Description=slack mahjong score management
After=network.target

[Service]
User=<user name>
Type=simple
WorkingDirectory=/path/to/<app-dir>/
EnvironmentFile=/path/to/<app-dir>/app.env
ExecStartPre=git pull
ExecStart=/path/to/<venv-dir>/bin/python3 /path/to/<app-dir>/slack-app.py --notime
#Restart=always

[Install]
WantedBy=default.target
